<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>图书管理系统</title>
	<style>
		table {
			font-size: 16px;
			color: #666;
			width: 1200px;
			margin: 0px auto;
			text-align: center;
			border-collapse: collapse;
		}

		th,td {
			border: 1px solid #999;
		}

		tr:nth-child(even) {
			background-color: #FFFFCC;
		}
	</style>
</head>
<body>
	<!-- {$qqw} -->
	<!-- <a href="addbook.html">添加图书</a>  -->
	<hr>
	<table>
		<caption><h2>图书管理系统</h2></caption>
		<tr>
			<th>编号</th>
			<th>书名</th>
			<th>作者</th>
			<th>发布日期</th>
		</tr>
		<{foreach from=$qqw key=$key item=$v}>
		<tr>
			<td><{$v.id}></td>
			<td><{$v.username}></td>
			<td><{$v.user_type}></td>
			<td><{$v.add_time}></td>
		</tr>
		<{/foreach}>
	
	</table>
</body>
</html>